// Place all the styles related to the stretchs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,html {  
  width: 100%;
  height: 95%;  
  padding: 0;
  margin: 0;
}

.link{
  font-size:12px;
  margin-left: 1%;
}

.main{
  width: 96%;
  height: 90%;
  margin: 2%;
}

.main .row{
  height: 35%;
  width: 100%;
  margin-bottom: 1%;
}

.main .cell {
  float: left;
  width: 32%;
  height: 100%;
  margin-left: 1%;
}

.main .cell form{
  width: 100%;
  height: 100%;
}

.main .cell textarea{
  width: 100%;
  height: 85%;
}

.main .cell .button{
  width: 101%;
  height:18%;
}